<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ces trois premieres balises meta devant toujours être en première positiona: pour les caractères, pour internet explorer et pour les téléphones mobiles et tablettes -->
	<title> Mbombo Solutions _ {% block title %}{% endblock %}s</title>	

	<!-- les feuilles de styles: celle contenant les classes de bootstrap, celle contenant mes propres classes -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/css/mbombosolutions.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block body %}{% endblock body %}


  <!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2019-2020 MBOMBO SOLUTIONS &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>


<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>